/* importing font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

/* resetting css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */

:root {
    --gradiente: linear-gradient(to right, #fff, #84b6f4);
    --square_size: 20em;
    --yellow: #fdfd96;
    --yellow2: #fafa6a;
    --gray: #dcdcdc;
}

/* style for js */

.display_none {
    visibility: hidden;
}

.background_yellow {
    background-color: var(--yellow2);
}

/* body */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#2381f3, #84b6f4);
    font-family: 'Roboto Mono', monospace;
}

header {
    text-align: center;
}

header h1 {
    color: var(--yellow);
    text-shadow: rgb(114, 114, 114) 0.1em 0.1em 0.2em;
}

header .scoreboard {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    align-items: center;
    width: var(--square_size);
    background-color: var(--gray);
    border-radius: 1em;
}

header .scoreboard div {
    font-weight: 600;
    padding: .8em .5em;
    border-radius: 1em;
}

header .scoreboard #score {
    font-weight: 700;
}

.container {
    margin-top: 1.5em;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: .3em;
    height: var(--square_size);
    width: var(--square_size);
}

.container section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-radius: .5em;
}

.container section img {
    width: 70%;
}

.container section:hover {
    background-color: var(--yellow2);
}

button {
    margin-top: 1em;
    padding: .8em;
    border: none;
    border-radius: .6em;
    background-color: var(--gray);
    font-size: 1em;
    font-weight: 600;
}

button:hover {
    background-color: var(--yellow2);
}